* {
  font-family: Tahoma;
}

td, th {
  padding: 0 5px;
  text-align: center;
}

.most-ordered-dish {
  color: red;
}

body {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

table {
  margin: 0 auto;
}